*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    /* width: 40vw; */
    height: 15vh;
}

form{
    margin: 1rem 0;
    padding: 0 5rem;
}

.row{
    /* padding: 0 5rem; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.input-field{
    display: flex;
    align-items: center;
    width: 49%;
    justify-content: space-between;
}

.input-field label{
    width: 20%;
}

.input-field input{
    width: 80%;
    border: none;
    background-color: #ececec;
    height: 2.5rem;
    border-radius: 5px;
    padding: 1rem;
}

.input-field input:focus, .inputfield-row2 input:focus{
    background: none;
    outline: lightblue;
    border: 4px solid lightblue;
}

.input-field select{
    width: 80%;
    border: none;
    background-color: #ececec;
    height: 2.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 5px;
}

.input-field select:focus, .inputfield-row2 select:focus{
    background: none;
    outline: lightblue;
    border: 4px solid lightblue;
}


.inputfield-row2{
    display: flex;
    align-items: center;
    width: 49%;
    justify-content: space-between;
}

.inputfield-row2 label{
    width: 30%;
}

.inputfield-row2 input{
    width: 70%;
    border: none;
    background-color: #ececec;
    height: 2.5rem;
    border-radius: 5px;
    padding: 1rem;
}

.inputfield-row2 select{
    width: 70%;
    border: none;
    background-color: #ececec;
    height: 2.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    border: 1px solid black;
    padding: 0.5rem 0;
    background-color: #002C5B;
    color: white;
}

td{
    border: 1px solid black;
    padding: 0.5rem 0;
    text-align: center;
}

td input{
    padding: 0.2rem 0;
}

table input{
    border: none;
}

tfoot input{
    background: transparent;
    border: none;
    height: 2rem;
    padding-left: 0.5rem;
    color: white;
    text-align: center;
    font-weight: bold;
}

tfoot input:focus{
    border: 1px solid white;
    border-radius: 5px;
}

.bold-text{
    font-weight: bold;
}

.bold-text td input{
    font-weight: bold;
    text-align: center;
}

#dotted-box{
    border: 1px dashed black;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1rem;
}

#dotted-box label{
    width: 45%!important;
}

#signature-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.signature-div{
    display: flex;
    flex-direction: column;
    width: 34%;
}

.signature-div input{
    height: 3rem;
    padding: 0.2rem;
}

.label-div{
    display: flex;
    justify-content: center;
}

#button-div{
    display: flex;
    justify-content: center;
}

button{
    color: white;
    background-color: rgb(216, 9, 9);
    font-weight: bold;
    margin-top: 1.5rem;
    border-radius: 30px;
    font-size: 1.2rem;
    padding: 1rem 5rem;
    border: none;
}